#------------------------------------------------------------------------------#
# Configuration file for Circe Fast Photometry Pipeline                        #
#                                                                              #
# Char '#' can  be used for the comments                                       #
#------------------------------------------------------------------------------#

# PATH where data lives
# Make sure finish by /
PATH                  /scratch1/ydallilar/March/2015-03-09/

# FILE to reduce data
# if starts with @ reads the files inside FILE
FILE                  @files

# Reduce individual frames
# Implemented modes '2-1', '3-1'. Default '2-1'
FRAME_MOD             3-1  
# if 1 combines all frames in a ramp. Default 0
COMB_RAMP             1

#------------------------------------------------------------------------------#
# Linearity Correction                                                         #
#------------------------------------------------------------------------------#

LINEARITY	      1    	
MASTER_DARK           prog_data/master_dark.fits

#------------------------------------------------------------------------------#
# Bad pixel correction & cosmic ray removal options                            #
#------------------------------------------------------------------------------#

# BAD_PIX_MASK to enable bad pixel interpolation
# MASK_FILE to define a master bad pixel mask
BAD_PIX_MASK          1
MASK_FILE             prog_data/badpix_mask.fits

# COSMIC_RAY to enable cosmic ray removal. This process is treated separately 
# from Bad pixel interpolation. This feature is handled after pickup noise 
# correction.
# DETECT_THRESH to detect cosmic ray hits. 
# (>DETECT_THRESH*sig where sig is the local standard deviation 3x3 square)
COSMIC_RAY            1     
DETECT_THRESH         5

#------------------------------------------------------------------------------#
# Flat options                                                                 #
#------------------------------------------------------------------------------#

# FLAT_DIVIDE to enable flat fielded images.
# FLAT_IMAGE to define a master flat
FLAT_DIVIDE           1
FLAT_IMAGE            prog_data/flat.fits
# FLAT_LINE determines residual flat deviation on the image.
# To enable give 1
FLAT_LINE             1	  	

#------------------------------------------------------------------------------#
# Pickup noise correction                                                      #
#------------------------------------------------------------------------------#

# PATTERN_CORR to enable pickup noise correction
PATTERN_CORR          1
# ODD or EVEN channels to be excluded from master median combined pattern
# Use comma as the separator and no blanks in the string
ODD_EXC               0,1,2,3,11,12,13,14,15
EVEN_EXC              0,1,2,3,12,13,14,15

#------------------------------------------------------------------END---------#
